--
-- PostgreSQL database dump
--

\restrict cITwp6LdXPii6EpOeLOSH7XlfxkZzFImCZhjOaOHAZyVR1M2GIYi7T1BJwYxq6H

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public."Waiter" DROP CONSTRAINT IF EXISTS "Waiter_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."Waiter" DROP CONSTRAINT IF EXISTS "Waiter_branchId_fkey";
ALTER TABLE IF EXISTS ONLY public."WaiterTable" DROP CONSTRAINT IF EXISTS "WaiterTable_waiterId_fkey";
ALTER TABLE IF EXISTS ONLY public."WaiterTable" DROP CONSTRAINT IF EXISTS "WaiterTable_tableId_fkey";
ALTER TABLE IF EXISTS ONLY public."UserRole" DROP CONSTRAINT IF EXISTS "UserRole_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."UserRole" DROP CONSTRAINT IF EXISTS "UserRole_roleId_fkey";
ALTER TABLE IF EXISTS ONLY public."Tax" DROP CONSTRAINT IF EXISTS "Tax_branchId_fkey";
ALTER TABLE IF EXISTS ONLY public."SubCategory" DROP CONSTRAINT IF EXISTS "SubCategory_categoryId_fkey";
ALTER TABLE IF EXISTS ONLY public."Session" DROP CONSTRAINT IF EXISTS "Session_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."ServiceRequest" DROP CONSTRAINT IF EXISTS "ServiceRequest_tableId_fkey";
ALTER TABLE IF EXISTS ONLY public."RolePermission" DROP CONSTRAINT IF EXISTS "RolePermission_roleId_fkey";
ALTER TABLE IF EXISTS ONLY public."RolePermission" DROP CONSTRAINT IF EXISTS "RolePermission_permissionId_fkey";
ALTER TABLE IF EXISTS ONLY public."Review" DROP CONSTRAINT IF EXISTS "Review_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."Review" DROP CONSTRAINT IF EXISTS "Review_menuItemId_fkey";
ALTER TABLE IF EXISTS ONLY public."Review" DROP CONSTRAINT IF EXISTS "Review_branchId_fkey";
ALTER TABLE IF EXISTS ONLY public."RestaurantTable" DROP CONSTRAINT IF EXISTS "RestaurantTable_branchId_fkey";
ALTER TABLE IF EXISTS ONLY public."RestaurantSetting" DROP CONSTRAINT IF EXISTS "RestaurantSetting_restaurantId_fkey";
ALTER TABLE IF EXISTS ONLY public."QRCode" DROP CONSTRAINT IF EXISTS "QRCode_tableId_fkey";
ALTER TABLE IF EXISTS ONLY public."Payment" DROP CONSTRAINT IF EXISTS "Payment_orderId_fkey";
ALTER TABLE IF EXISTS ONLY public."Order" DROP CONSTRAINT IF EXISTS "Order_tableId_fkey";
ALTER TABLE IF EXISTS ONLY public."Order" DROP CONSTRAINT IF EXISTS "Order_sessionId_fkey";
ALTER TABLE IF EXISTS ONLY public."Order" DROP CONSTRAINT IF EXISTS "Order_customerId_fkey";
ALTER TABLE IF EXISTS ONLY public."Order" DROP CONSTRAINT IF EXISTS "Order_branchId_fkey";
ALTER TABLE IF EXISTS ONLY public."OrderItem" DROP CONSTRAINT IF EXISTS "OrderItem_orderId_fkey";
ALTER TABLE IF EXISTS ONLY public."OrderItem" DROP CONSTRAINT IF EXISTS "OrderItem_menuItemId_fkey";
ALTER TABLE IF EXISTS ONLY public."OrderItemModifier" DROP CONSTRAINT IF EXISTS "OrderItemModifier_orderItemId_fkey";
ALTER TABLE IF EXISTS ONLY public."OrderItemModifier" DROP CONSTRAINT IF EXISTS "OrderItemModifier_modifierId_fkey";
ALTER TABLE IF EXISTS ONLY public."OrderItemAddon" DROP CONSTRAINT IF EXISTS "OrderItemAddon_orderItemId_fkey";
ALTER TABLE IF EXISTS ONLY public."OrderItemAddon" DROP CONSTRAINT IF EXISTS "OrderItemAddon_addonId_fkey";
ALTER TABLE IF EXISTS ONLY public."OpeningHours" DROP CONSTRAINT IF EXISTS "OpeningHours_branchId_fkey";
ALTER TABLE IF EXISTS ONLY public."Offer" DROP CONSTRAINT IF EXISTS "Offer_branchId_fkey";
ALTER TABLE IF EXISTS ONLY public."Notification" DROP CONSTRAINT IF EXISTS "Notification_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."Modifier" DROP CONSTRAINT IF EXISTS "Modifier_modifierGroupId_fkey";
ALTER TABLE IF EXISTS ONLY public."MenuItem" DROP CONSTRAINT IF EXISTS "MenuItem_subCategoryId_fkey";
ALTER TABLE IF EXISTS ONLY public."MenuItem" DROP CONSTRAINT IF EXISTS "MenuItem_categoryId_fkey";
ALTER TABLE IF EXISTS ONLY public."MenuItem" DROP CONSTRAINT IF EXISTS "MenuItem_branchId_fkey";
ALTER TABLE IF EXISTS ONLY public."MenuItemModifierGroup" DROP CONSTRAINT IF EXISTS "MenuItemModifierGroup_modifierGroupId_fkey";
ALTER TABLE IF EXISTS ONLY public."MenuItemModifierGroup" DROP CONSTRAINT IF EXISTS "MenuItemModifierGroup_menuItemId_fkey";
ALTER TABLE IF EXISTS ONLY public."MenuItemAddon" DROP CONSTRAINT IF EXISTS "MenuItemAddon_menuItemId_fkey";
ALTER TABLE IF EXISTS ONLY public."MenuItemAddon" DROP CONSTRAINT IF EXISTS "MenuItemAddon_addonId_fkey";
ALTER TABLE IF EXISTS ONLY public."MenuImage" DROP CONSTRAINT IF EXISTS "MenuImage_menuItemId_fkey";
ALTER TABLE IF EXISTS ONLY public."KitchenTicket" DROP CONSTRAINT IF EXISTS "KitchenTicket_queueId_fkey";
ALTER TABLE IF EXISTS ONLY public."KitchenTicket" DROP CONSTRAINT IF EXISTS "KitchenTicket_orderId_fkey";
ALTER TABLE IF EXISTS ONLY public."Invoice" DROP CONSTRAINT IF EXISTS "Invoice_orderId_fkey";
ALTER TABLE IF EXISTS ONLY public."Feedback" DROP CONSTRAINT IF EXISTS "Feedback_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."FavoriteItem" DROP CONSTRAINT IF EXISTS "FavoriteItem_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."FavoriteItem" DROP CONSTRAINT IF EXISTS "FavoriteItem_menuItemId_fkey";
ALTER TABLE IF EXISTS ONLY public."CustomerSession" DROP CONSTRAINT IF EXISTS "CustomerSession_tableId_fkey";
ALTER TABLE IF EXISTS ONLY public."Coupon" DROP CONSTRAINT IF EXISTS "Coupon_branchId_fkey";
ALTER TABLE IF EXISTS ONLY public."CouponUsage" DROP CONSTRAINT IF EXISTS "CouponUsage_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."CouponUsage" DROP CONSTRAINT IF EXISTS "CouponUsage_couponId_fkey";
ALTER TABLE IF EXISTS ONLY public."Category" DROP CONSTRAINT IF EXISTS "Category_branchId_fkey";
ALTER TABLE IF EXISTS ONLY public."Cart" DROP CONSTRAINT IF EXISTS "Cart_sessionId_fkey";
ALTER TABLE IF EXISTS ONLY public."CartItem" DROP CONSTRAINT IF EXISTS "CartItem_menuItemId_fkey";
ALTER TABLE IF EXISTS ONLY public."CartItem" DROP CONSTRAINT IF EXISTS "CartItem_cartId_fkey";
ALTER TABLE IF EXISTS ONLY public."CartItemModifier" DROP CONSTRAINT IF EXISTS "CartItemModifier_modifierId_fkey";
ALTER TABLE IF EXISTS ONLY public."CartItemModifier" DROP CONSTRAINT IF EXISTS "CartItemModifier_cartItemId_fkey";
ALTER TABLE IF EXISTS ONLY public."CartItemAddon" DROP CONSTRAINT IF EXISTS "CartItemAddon_cartItemId_fkey";
ALTER TABLE IF EXISTS ONLY public."CartItemAddon" DROP CONSTRAINT IF EXISTS "CartItemAddon_addonId_fkey";
ALTER TABLE IF EXISTS ONLY public."Branch" DROP CONSTRAINT IF EXISTS "Branch_restaurantId_fkey";
ALTER TABLE IF EXISTS ONLY public."Bill" DROP CONSTRAINT IF EXISTS "Bill_orderId_fkey";
ALTER TABLE IF EXISTS ONLY public."BillItem" DROP CONSTRAINT IF EXISTS "BillItem_billId_fkey";
ALTER TABLE IF EXISTS ONLY public."Banner" DROP CONSTRAINT IF EXISTS "Banner_branchId_fkey";
ALTER TABLE IF EXISTS ONLY public."AuditLog" DROP CONSTRAINT IF EXISTS "AuditLog_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."AuditLog" DROP CONSTRAINT IF EXISTS "AuditLog_branchId_fkey";
ALTER TABLE IF EXISTS ONLY public."Analytics" DROP CONSTRAINT IF EXISTS "Analytics_branchId_fkey";
ALTER TABLE IF EXISTS ONLY public."Admin" DROP CONSTRAINT IF EXISTS "Admin_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."Admin" DROP CONSTRAINT IF EXISTS "Admin_branchId_fkey";
ALTER TABLE IF EXISTS ONLY public."ActivityLog" DROP CONSTRAINT IF EXISTS "ActivityLog_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."ActivityLog" DROP CONSTRAINT IF EXISTS "ActivityLog_branchId_fkey";
ALTER TABLE IF EXISTS ONLY public."Account" DROP CONSTRAINT IF EXISTS "Account_userId_fkey";
DROP INDEX IF EXISTS public."Waiter_userId_key";
DROP INDEX IF EXISTS public."Waiter_employeeId_key";
DROP INDEX IF EXISTS public."Waiter_branchId_idx";
DROP INDEX IF EXISTS public."User_email_key";
DROP INDEX IF EXISTS public."Tax_branchId_idx";
DROP INDEX IF EXISTS public."SubCategory_categoryId_idx";
DROP INDEX IF EXISTS public."Session_userId_idx";
DROP INDEX IF EXISTS public."Session_token_key";
DROP INDEX IF EXISTS public."ServiceRequest_tableId_idx";
DROP INDEX IF EXISTS public."RoleModel_name_key";
DROP INDEX IF EXISTS public."Review_menuItemId_idx";
DROP INDEX IF EXISTS public."RestaurantTable_branchId_number_key";
DROP INDEX IF EXISTS public."RestaurantTable_branchId_idx";
DROP INDEX IF EXISTS public."QRCode_tableId_key";
DROP INDEX IF EXISTS public."Permission_action_key";
DROP INDEX IF EXISTS public."Payment_transactionId_key";
DROP INDEX IF EXISTS public."Payment_orderId_idx";
DROP INDEX IF EXISTS public."Order_tableId_idx";
DROP INDEX IF EXISTS public."Order_customerId_idx";
DROP INDEX IF EXISTS public."Order_branchId_orderNumber_key";
DROP INDEX IF EXISTS public."Order_branchId_idx";
DROP INDEX IF EXISTS public."OrderItem_orderId_idx";
DROP INDEX IF EXISTS public."OpeningHours_branchId_idx";
DROP INDEX IF EXISTS public."Offer_branchId_idx";
DROP INDEX IF EXISTS public."Notification_userId_idx";
DROP INDEX IF EXISTS public."Modifier_modifierGroupId_idx";
DROP INDEX IF EXISTS public."MenuItem_categoryId_idx";
DROP INDEX IF EXISTS public."MenuItem_branchId_idx";
DROP INDEX IF EXISTS public."MenuImage_menuItemId_idx";
DROP INDEX IF EXISTS public."KitchenTicket_orderId_idx";
DROP INDEX IF EXISTS public."Invoice_orderId_key";
DROP INDEX IF EXISTS public."Invoice_invoiceNumber_key";
DROP INDEX IF EXISTS public."FavoriteItem_userId_menuItemId_key";
DROP INDEX IF EXISTS public."Device_userId_idx";
DROP INDEX IF EXISTS public."Device_token_key";
DROP INDEX IF EXISTS public."CustomerSession_token_key";
DROP INDEX IF EXISTS public."CustomerSession_tableId_idx";
DROP INDEX IF EXISTS public."Coupon_branchId_idx";
DROP INDEX IF EXISTS public."Coupon_branchId_code_key";
DROP INDEX IF EXISTS public."CouponUsage_couponId_idx";
DROP INDEX IF EXISTS public."Category_branchId_name_key";
DROP INDEX IF EXISTS public."Category_branchId_idx";
DROP INDEX IF EXISTS public."Cart_sessionId_key";
DROP INDEX IF EXISTS public."CartItem_cartId_idx";
DROP INDEX IF EXISTS public."Branch_restaurantId_idx";
DROP INDEX IF EXISTS public."Bill_billNumber_key";
DROP INDEX IF EXISTS public."BillItem_billId_idx";
DROP INDEX IF EXISTS public."Banner_branchId_idx";
DROP INDEX IF EXISTS public."AuditLog_tableName_recordId_idx";
DROP INDEX IF EXISTS public."Analytics_branchId_idx";
DROP INDEX IF EXISTS public."Analytics_branchId_date_key";
DROP INDEX IF EXISTS public."Admin_userId_key";
DROP INDEX IF EXISTS public."Admin_branchId_idx";
DROP INDEX IF EXISTS public."ActivityLog_userId_idx";
DROP INDEX IF EXISTS public."ActivityLog_action_idx";
DROP INDEX IF EXISTS public."Account_userId_idx";
ALTER TABLE IF EXISTS ONLY public."Waiter" DROP CONSTRAINT IF EXISTS "Waiter_pkey";
ALTER TABLE IF EXISTS ONLY public."WaiterTable" DROP CONSTRAINT IF EXISTS "WaiterTable_pkey";
ALTER TABLE IF EXISTS ONLY public."Verification" DROP CONSTRAINT IF EXISTS "Verification_pkey";
ALTER TABLE IF EXISTS ONLY public."User" DROP CONSTRAINT IF EXISTS "User_pkey";
ALTER TABLE IF EXISTS ONLY public."UserRole" DROP CONSTRAINT IF EXISTS "UserRole_pkey";
ALTER TABLE IF EXISTS ONLY public."Tax" DROP CONSTRAINT IF EXISTS "Tax_pkey";
ALTER TABLE IF EXISTS ONLY public."SubCategory" DROP CONSTRAINT IF EXISTS "SubCategory_pkey";
ALTER TABLE IF EXISTS ONLY public."Session" DROP CONSTRAINT IF EXISTS "Session_pkey";
ALTER TABLE IF EXISTS ONLY public."ServiceRequest" DROP CONSTRAINT IF EXISTS "ServiceRequest_pkey";
ALTER TABLE IF EXISTS ONLY public."RolePermission" DROP CONSTRAINT IF EXISTS "RolePermission_pkey";
ALTER TABLE IF EXISTS ONLY public."RoleModel" DROP CONSTRAINT IF EXISTS "RoleModel_pkey";
ALTER TABLE IF EXISTS ONLY public."Review" DROP CONSTRAINT IF EXISTS "Review_pkey";
ALTER TABLE IF EXISTS ONLY public."Restaurant" DROP CONSTRAINT IF EXISTS "Restaurant_pkey";
ALTER TABLE IF EXISTS ONLY public."RestaurantTable" DROP CONSTRAINT IF EXISTS "RestaurantTable_pkey";
ALTER TABLE IF EXISTS ONLY public."RestaurantSetting" DROP CONSTRAINT IF EXISTS "RestaurantSetting_pkey";
ALTER TABLE IF EXISTS ONLY public."QRCode" DROP CONSTRAINT IF EXISTS "QRCode_pkey";
ALTER TABLE IF EXISTS ONLY public."Permission" DROP CONSTRAINT IF EXISTS "Permission_pkey";
ALTER TABLE IF EXISTS ONLY public."Payment" DROP CONSTRAINT IF EXISTS "Payment_pkey";
ALTER TABLE IF EXISTS ONLY public."Order" DROP CONSTRAINT IF EXISTS "Order_pkey";
ALTER TABLE IF EXISTS ONLY public."OrderItem" DROP CONSTRAINT IF EXISTS "OrderItem_pkey";
ALTER TABLE IF EXISTS ONLY public."OrderItemModifier" DROP CONSTRAINT IF EXISTS "OrderItemModifier_pkey";
ALTER TABLE IF EXISTS ONLY public."OrderItemAddon" DROP CONSTRAINT IF EXISTS "OrderItemAddon_pkey";
ALTER TABLE IF EXISTS ONLY public."OpeningHours" DROP CONSTRAINT IF EXISTS "OpeningHours_pkey";
ALTER TABLE IF EXISTS ONLY public."Offer" DROP CONSTRAINT IF EXISTS "Offer_pkey";
ALTER TABLE IF EXISTS ONLY public."Notification" DROP CONSTRAINT IF EXISTS "Notification_pkey";
ALTER TABLE IF EXISTS ONLY public."Modifier" DROP CONSTRAINT IF EXISTS "Modifier_pkey";
ALTER TABLE IF EXISTS ONLY public."ModifierGroup" DROP CONSTRAINT IF EXISTS "ModifierGroup_pkey";
ALTER TABLE IF EXISTS ONLY public."MenuItem" DROP CONSTRAINT IF EXISTS "MenuItem_pkey";
ALTER TABLE IF EXISTS ONLY public."MenuItemModifierGroup" DROP CONSTRAINT IF EXISTS "MenuItemModifierGroup_pkey";
ALTER TABLE IF EXISTS ONLY public."MenuItemAddon" DROP CONSTRAINT IF EXISTS "MenuItemAddon_pkey";
ALTER TABLE IF EXISTS ONLY public."MenuImage" DROP CONSTRAINT IF EXISTS "MenuImage_pkey";
ALTER TABLE IF EXISTS ONLY public."KitchenTicket" DROP CONSTRAINT IF EXISTS "KitchenTicket_pkey";
ALTER TABLE IF EXISTS ONLY public."KitchenQueue" DROP CONSTRAINT IF EXISTS "KitchenQueue_pkey";
ALTER TABLE IF EXISTS ONLY public."Invoice" DROP CONSTRAINT IF EXISTS "Invoice_pkey";
ALTER TABLE IF EXISTS ONLY public."Feedback" DROP CONSTRAINT IF EXISTS "Feedback_pkey";
ALTER TABLE IF EXISTS ONLY public."FavoriteItem" DROP CONSTRAINT IF EXISTS "FavoriteItem_pkey";
ALTER TABLE IF EXISTS ONLY public."Device" DROP CONSTRAINT IF EXISTS "Device_pkey";
ALTER TABLE IF EXISTS ONLY public."CustomerSession" DROP CONSTRAINT IF EXISTS "CustomerSession_pkey";
ALTER TABLE IF EXISTS ONLY public."Coupon" DROP CONSTRAINT IF EXISTS "Coupon_pkey";
ALTER TABLE IF EXISTS ONLY public."CouponUsage" DROP CONSTRAINT IF EXISTS "CouponUsage_pkey";
ALTER TABLE IF EXISTS ONLY public."Category" DROP CONSTRAINT IF EXISTS "Category_pkey";
ALTER TABLE IF EXISTS ONLY public."Cart" DROP CONSTRAINT IF EXISTS "Cart_pkey";
ALTER TABLE IF EXISTS ONLY public."CartItem" DROP CONSTRAINT IF EXISTS "CartItem_pkey";
ALTER TABLE IF EXISTS ONLY public."CartItemModifier" DROP CONSTRAINT IF EXISTS "CartItemModifier_pkey";
ALTER TABLE IF EXISTS ONLY public."CartItemAddon" DROP CONSTRAINT IF EXISTS "CartItemAddon_pkey";
ALTER TABLE IF EXISTS ONLY public."Branch" DROP CONSTRAINT IF EXISTS "Branch_pkey";
ALTER TABLE IF EXISTS ONLY public."Bill" DROP CONSTRAINT IF EXISTS "Bill_pkey";
ALTER TABLE IF EXISTS ONLY public."BillItem" DROP CONSTRAINT IF EXISTS "BillItem_pkey";
ALTER TABLE IF EXISTS ONLY public."Banner" DROP CONSTRAINT IF EXISTS "Banner_pkey";
ALTER TABLE IF EXISTS ONLY public."AuditLog" DROP CONSTRAINT IF EXISTS "AuditLog_pkey";
ALTER TABLE IF EXISTS ONLY public."Analytics" DROP CONSTRAINT IF EXISTS "Analytics_pkey";
ALTER TABLE IF EXISTS ONLY public."Admin" DROP CONSTRAINT IF EXISTS "Admin_pkey";
ALTER TABLE IF EXISTS ONLY public."Addon" DROP CONSTRAINT IF EXISTS "Addon_pkey";
ALTER TABLE IF EXISTS ONLY public."ActivityLog" DROP CONSTRAINT IF EXISTS "ActivityLog_pkey";
ALTER TABLE IF EXISTS ONLY public."Account" DROP CONSTRAINT IF EXISTS "Account_pkey";
DROP TABLE IF EXISTS public."WaiterTable";
DROP TABLE IF EXISTS public."Waiter";
DROP TABLE IF EXISTS public."Verification";
DROP TABLE IF EXISTS public."UserRole";
DROP TABLE IF EXISTS public."User";
DROP TABLE IF EXISTS public."Tax";
DROP TABLE IF EXISTS public."SubCategory";
DROP TABLE IF EXISTS public."Session";
DROP TABLE IF EXISTS public."ServiceRequest";
DROP TABLE IF EXISTS public."RolePermission";
DROP TABLE IF EXISTS public."RoleModel";
DROP TABLE IF EXISTS public."Review";
DROP TABLE IF EXISTS public."RestaurantTable";
DROP TABLE IF EXISTS public."RestaurantSetting";
DROP TABLE IF EXISTS public."Restaurant";
DROP TABLE IF EXISTS public."QRCode";
DROP TABLE IF EXISTS public."Permission";
DROP TABLE IF EXISTS public."Payment";
DROP TABLE IF EXISTS public."OrderItemModifier";
DROP TABLE IF EXISTS public."OrderItemAddon";
DROP TABLE IF EXISTS public."OrderItem";
DROP TABLE IF EXISTS public."Order";
DROP TABLE IF EXISTS public."OpeningHours";
DROP TABLE IF EXISTS public."Offer";
DROP TABLE IF EXISTS public."Notification";
DROP TABLE IF EXISTS public."ModifierGroup";
DROP TABLE IF EXISTS public."Modifier";
DROP TABLE IF EXISTS public."MenuItemModifierGroup";
DROP TABLE IF EXISTS public."MenuItemAddon";
DROP TABLE IF EXISTS public."MenuItem";
DROP TABLE IF EXISTS public."MenuImage";
DROP TABLE IF EXISTS public."KitchenTicket";
DROP TABLE IF EXISTS public."KitchenQueue";
DROP TABLE IF EXISTS public."Invoice";
DROP TABLE IF EXISTS public."Feedback";
DROP TABLE IF EXISTS public."FavoriteItem";
DROP TABLE IF EXISTS public."Device";
DROP TABLE IF EXISTS public."CustomerSession";
DROP TABLE IF EXISTS public."CouponUsage";
DROP TABLE IF EXISTS public."Coupon";
DROP TABLE IF EXISTS public."Category";
DROP TABLE IF EXISTS public."CartItemModifier";
DROP TABLE IF EXISTS public."CartItemAddon";
DROP TABLE IF EXISTS public."CartItem";
DROP TABLE IF EXISTS public."Cart";
DROP TABLE IF EXISTS public."Branch";
DROP TABLE IF EXISTS public."BillItem";
DROP TABLE IF EXISTS public."Bill";
DROP TABLE IF EXISTS public."Banner";
DROP TABLE IF EXISTS public."AuditLog";
DROP TABLE IF EXISTS public."Analytics";
DROP TABLE IF EXISTS public."Admin";
DROP TABLE IF EXISTS public."Addon";
DROP TABLE IF EXISTS public."ActivityLog";
DROP TABLE IF EXISTS public."Account";
DROP TYPE IF EXISTS public."TableStatus";
DROP TYPE IF EXISTS public."SpicyLevel";
DROP TYPE IF EXISTS public."Role";
DROP TYPE IF EXISTS public."RequestType";
DROP TYPE IF EXISTS public."RequestStatus";
DROP TYPE IF EXISTS public."PaymentStatus";
DROP TYPE IF EXISTS public."PaymentMethod";
DROP TYPE IF EXISTS public."OrderStatus";
DROP TYPE IF EXISTS public."DiscountType";
--
-- Name: DiscountType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."DiscountType" AS ENUM (
    'FLAT',
    'PERCENTAGE'
);


--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'PENDING',
    'RECEIVED',
    'ACCEPTED',
    'PREPARING',
    'READY',
    'OUT_FOR_DELIVERY',
    'SERVED',
    'COMPLETED',
    'CANCELLED',
    'REFUNDED'
);


--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'CASH',
    'UPI',
    'CARD',
    'SPLIT_BILL',
    'PAY_LATER'
);


--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'PAID',
    'FAILED',
    'REFUNDED',
    'PAY_LATER'
);


--
-- Name: RequestStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."RequestStatus" AS ENUM (
    'PENDING',
    'RESOLVED'
);


--
-- Name: RequestType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."RequestType" AS ENUM (
    'WAITER',
    'WATER',
    'TISSUE',
    'BILL'
);


--
-- Name: Role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."Role" AS ENUM (
    'CUSTOMER',
    'WAITER',
    'KITCHEN',
    'ADMIN',
    'SUPER_ADMIN',
    'CASHIER'
);


--
-- Name: SpicyLevel; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."SpicyLevel" AS ENUM (
    'NONE',
    'MILD',
    'MEDIUM',
    'HOT',
    'EXTRA_HOT'
);


--
-- Name: TableStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."TableStatus" AS ENUM (
    'FREE',
    'OCCUPIED',
    'PREPARING',
    'READY',
    'SERVED',
    'RESERVED',
    'CLEANING'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Account; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Account" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "providerId" text NOT NULL,
    "accountId" text NOT NULL,
    "accessToken" text,
    "refreshToken" text,
    "idToken" text,
    "accessTokenExpiresAt" timestamp(3) without time zone,
    "refreshTokenExpiresAt" timestamp(3) without time zone,
    scope text,
    password text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: ActivityLog; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ActivityLog" (
    id text NOT NULL,
    "branchId" text,
    "userId" text,
    action text NOT NULL,
    details text,
    "ipAddress" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Addon; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Addon" (
    id text NOT NULL,
    name text NOT NULL,
    price double precision NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Admin; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Admin" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "branchId" text NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Analytics; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Analytics" (
    id text NOT NULL,
    "branchId" text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "totalRevenue" double precision NOT NULL,
    "totalOrders" integer NOT NULL,
    "averageOrderValue" double precision NOT NULL,
    "popularItemId" text,
    "tableOccupancyRate" double precision,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    "branchId" text,
    "userId" text,
    "tableName" text NOT NULL,
    "recordId" text NOT NULL,
    action text NOT NULL,
    "oldValues" text,
    "newValues" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Banner; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Banner" (
    id text NOT NULL,
    "branchId" text NOT NULL,
    "imageUrl" text NOT NULL,
    "targetUrl" text,
    "order" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Bill; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Bill" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "billNumber" text NOT NULL,
    subtotal double precision NOT NULL,
    discount double precision DEFAULT 0.0 NOT NULL,
    "taxTotal" double precision NOT NULL,
    "serviceChargeTotal" double precision NOT NULL,
    "finalAmount" double precision NOT NULL,
    "isSettled" boolean DEFAULT false NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: BillItem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."BillItem" (
    id text NOT NULL,
    "billId" text NOT NULL,
    name text NOT NULL,
    quantity integer NOT NULL,
    price double precision NOT NULL,
    "totalPrice" double precision NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Branch; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Branch" (
    id text NOT NULL,
    "restaurantId" text NOT NULL,
    name text NOT NULL,
    address text NOT NULL,
    phone text NOT NULL,
    email text,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Cart; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Cart" (
    id text NOT NULL,
    "sessionId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: CartItem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CartItem" (
    id text NOT NULL,
    "cartId" text NOT NULL,
    "menuItemId" text NOT NULL,
    quantity integer NOT NULL,
    "specialNotes" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: CartItemAddon; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CartItemAddon" (
    "cartItemId" text NOT NULL,
    "addonId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: CartItemModifier; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CartItemModifier" (
    "cartItemId" text NOT NULL,
    "modifierId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Category; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Category" (
    id text NOT NULL,
    "branchId" text NOT NULL,
    name text NOT NULL,
    description text,
    image text,
    "isActive" boolean DEFAULT true NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Coupon; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Coupon" (
    id text NOT NULL,
    "branchId" text NOT NULL,
    code text NOT NULL,
    "discountPercent" double precision DEFAULT 0.0 NOT NULL,
    "discountType" public."DiscountType" DEFAULT 'PERCENTAGE'::public."DiscountType" NOT NULL,
    "discountValue" double precision NOT NULL,
    "maxDiscount" double precision,
    "minOrderAmount" double precision DEFAULT 0.0 NOT NULL,
    "usageLimit" integer DEFAULT 100 NOT NULL,
    "usageCount" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "expiresAt" timestamp(3) without time zone,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: CouponUsage; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CouponUsage" (
    id text NOT NULL,
    "couponId" text NOT NULL,
    "userId" text,
    "orderId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: CustomerSession; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CustomerSession" (
    id text NOT NULL,
    "tableId" text NOT NULL,
    token text NOT NULL,
    "customerName" text NOT NULL,
    phone text,
    "isActive" boolean DEFAULT true NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Device; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Device" (
    id text NOT NULL,
    "userId" text NOT NULL,
    token text NOT NULL,
    platform text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: FavoriteItem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."FavoriteItem" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "menuItemId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Feedback; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Feedback" (
    id text NOT NULL,
    "userId" text,
    "serviceRating" integer NOT NULL,
    "foodRating" integer NOT NULL,
    "cleanlinessRating" integer NOT NULL,
    comment text,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Invoice; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Invoice" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "invoiceNumber" text NOT NULL,
    "taxDetails" text,
    "pdfUrl" text,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: KitchenQueue; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."KitchenQueue" (
    id text NOT NULL,
    "branchId" text NOT NULL,
    name text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: KitchenTicket; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."KitchenTicket" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "ticketNumber" text NOT NULL,
    "queueId" text NOT NULL,
    status public."OrderStatus" DEFAULT 'PENDING'::public."OrderStatus" NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: MenuImage; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."MenuImage" (
    id text NOT NULL,
    "menuItemId" text NOT NULL,
    url text NOT NULL,
    "isPrimary" boolean DEFAULT false NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: MenuItem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."MenuItem" (
    id text NOT NULL,
    "branchId" text NOT NULL,
    "categoryId" text NOT NULL,
    "subCategoryId" text,
    name text NOT NULL,
    description text NOT NULL,
    price double precision NOT NULL,
    "offerPrice" double precision,
    image text NOT NULL,
    "isVeg" boolean DEFAULT true NOT NULL,
    "isNonVeg" boolean DEFAULT false NOT NULL,
    "isJain" boolean DEFAULT false NOT NULL,
    "spicyLevel" public."SpicyLevel" DEFAULT 'NONE'::public."SpicyLevel" NOT NULL,
    "isBestseller" boolean DEFAULT false NOT NULL,
    "isSpecial" boolean DEFAULT false NOT NULL,
    "isFeatured" boolean DEFAULT false NOT NULL,
    "isAvailable" boolean DEFAULT true NOT NULL,
    "preparationTime" integer DEFAULT 15 NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: MenuItemAddon; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."MenuItemAddon" (
    "menuItemId" text NOT NULL,
    "addonId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: MenuItemModifierGroup; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."MenuItemModifierGroup" (
    "menuItemId" text NOT NULL,
    "modifierGroupId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Modifier; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Modifier" (
    id text NOT NULL,
    "modifierGroupId" text NOT NULL,
    name text NOT NULL,
    price double precision DEFAULT 0.0 NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: ModifierGroup; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ModifierGroup" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "minSelect" integer DEFAULT 0 NOT NULL,
    "maxSelect" integer DEFAULT 1 NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Notification; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    "userId" text,
    role public."Role",
    title text NOT NULL,
    body text NOT NULL,
    type text DEFAULT 'IN_APP'::text NOT NULL,
    "isRead" boolean DEFAULT false NOT NULL,
    "isPinned" boolean DEFAULT false NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Offer; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Offer" (
    id text NOT NULL,
    "branchId" text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    "bannerImage" text,
    "discountPercent" double precision,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: OpeningHours; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."OpeningHours" (
    id text NOT NULL,
    "branchId" text NOT NULL,
    "dayOfWeek" integer NOT NULL,
    "openTime" text NOT NULL,
    "closeTime" text NOT NULL,
    "isClosed" boolean DEFAULT false NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Order; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Order" (
    id text NOT NULL,
    "branchId" text NOT NULL,
    "orderNumber" text NOT NULL,
    "tableId" text NOT NULL,
    "sessionId" text,
    "customerId" text,
    "customerName" text,
    status public."OrderStatus" DEFAULT 'PENDING'::public."OrderStatus" NOT NULL,
    "paymentStatus" public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    "paymentMethod" public."PaymentMethod" DEFAULT 'UPI'::public."PaymentMethod" NOT NULL,
    "totalAmount" double precision NOT NULL,
    "gstAmount" double precision NOT NULL,
    "serviceCharge" double precision NOT NULL,
    "discountAmount" double precision DEFAULT 0.0 NOT NULL,
    "finalAmount" double precision NOT NULL,
    "specialNotes" text,
    "acceptedAt" timestamp(3) without time zone,
    "preparingAt" timestamp(3) without time zone,
    "readyAt" timestamp(3) without time zone,
    "servedAt" timestamp(3) without time zone,
    "completedAt" timestamp(3) without time zone,
    "expectedReadyAt" timestamp(3) without time zone,
    "delayMinutes" integer,
    "delayReason" text,
    "kitchenNotes" text,
    "customerReply" text,
    "waiterAcceptedAt" timestamp(3) without time zone,
    "deliveredAt" timestamp(3) without time zone,
    "deliveryDuration" integer,
    "waiterId" text,
    "waiterName" text,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: OrderItem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."OrderItem" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "menuItemId" text NOT NULL,
    name text NOT NULL,
    quantity integer NOT NULL,
    price double precision NOT NULL,
    "specialNotes" text,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: OrderItemAddon; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."OrderItemAddon" (
    "orderItemId" text NOT NULL,
    "addonId" text NOT NULL,
    name text NOT NULL,
    price double precision NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: OrderItemModifier; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."OrderItemModifier" (
    "orderItemId" text NOT NULL,
    "modifierId" text NOT NULL,
    name text NOT NULL,
    price double precision NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Payment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Payment" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    amount double precision NOT NULL,
    method public."PaymentMethod" NOT NULL,
    status public."PaymentStatus" NOT NULL,
    "transactionId" text,
    "gatewayResponse" text,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Permission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Permission" (
    id text NOT NULL,
    action text NOT NULL,
    description text,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: QRCode; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."QRCode" (
    id text NOT NULL,
    "tableId" text NOT NULL,
    "codeUrl" text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Restaurant; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Restaurant" (
    id text NOT NULL,
    name text NOT NULL,
    logo text,
    description text,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: RestaurantSetting; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."RestaurantSetting" (
    id text NOT NULL,
    "restaurantId" text NOT NULL,
    name text DEFAULT 'Bikaji QR Smart Ordering'::text NOT NULL,
    currency text DEFAULT 'INR'::text NOT NULL,
    "gstRate" double precision DEFAULT 5.0 NOT NULL,
    "serviceChargeRate" double precision DEFAULT 5.0 NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: RestaurantTable; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."RestaurantTable" (
    id text NOT NULL,
    "branchId" text NOT NULL,
    number integer NOT NULL,
    capacity integer DEFAULT 4 NOT NULL,
    status public."TableStatus" DEFAULT 'FREE'::public."TableStatus" NOT NULL,
    token text DEFAULT gen_random_uuid() NOT NULL,
    floor text DEFAULT 'Ground Floor'::text,
    section text DEFAULT 'Main Section'::text,
    "layoutX" integer DEFAULT 100 NOT NULL,
    "layoutY" integer DEFAULT 100 NOT NULL,
    "layoutShape" text DEFAULT 'SQUARE'::text NOT NULL,
    "layoutWidth" integer DEFAULT 100 NOT NULL,
    "layoutHeight" integer DEFAULT 100 NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Review; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Review" (
    id text NOT NULL,
    "branchId" text NOT NULL,
    "userId" text,
    "menuItemId" text NOT NULL,
    rating integer NOT NULL,
    comment text,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: RoleModel; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."RoleModel" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: RolePermission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."RolePermission" (
    "roleId" text NOT NULL,
    "permissionId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: ServiceRequest; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ServiceRequest" (
    id text NOT NULL,
    "tableId" text NOT NULL,
    type public."RequestType" NOT NULL,
    status public."RequestStatus" DEFAULT 'PENDING'::public."RequestStatus" NOT NULL,
    notes text,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Session; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "userId" text NOT NULL,
    token text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: SubCategory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."SubCategory" (
    id text NOT NULL,
    "categoryId" text NOT NULL,
    name text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Tax; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Tax" (
    id text NOT NULL,
    "branchId" text NOT NULL,
    name text NOT NULL,
    rate double precision NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp without time zone NOT NULL
);


--
-- Name: User; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    name text NOT NULL,
    "emailVerified" boolean DEFAULT false NOT NULL,
    image text,
    role public."Role" DEFAULT 'CUSTOMER'::public."Role" NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: UserRole; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."UserRole" (
    "userId" text NOT NULL,
    "roleId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Verification; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Verification" (
    id text NOT NULL,
    identifier text NOT NULL,
    value text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" timestamp(3) without time zone
);


--
-- Name: Waiter; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Waiter" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "branchId" text NOT NULL,
    "employeeId" text,
    "isAvailable" boolean DEFAULT true NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: WaiterTable; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."WaiterTable" (
    "waiterId" text NOT NULL,
    "tableId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Data for Name: Account; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ActivityLog; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Addon; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Addon" (id, name, price, "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Admin; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Admin" (id, "userId", "branchId", "deletedAt", "createdAt", "updatedAt") FROM stdin;
1aa0dcf3-158c-4ae2-b950-612c50f1333a	c6c235f3-ae58-4267-b304-535349059b61	2b1969a7-d186-4ba7-804e-f104271b2d7e	\N	2026-08-03 06:58:05.444	2026-08-03 06:58:05.444
ffa629bf-bfcb-4bdf-905c-01d40b87ae41	f6c9a8f6-f06e-4b26-99af-bfd480642a6c	2b1969a7-d186-4ba7-804e-f104271b2d7e	\N	2026-08-03 06:58:05.674	2026-08-03 06:58:05.674
\.


--
-- Data for Name: Analytics; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Analytics" (id, "branchId", date, "totalRevenue", "totalOrders", "averageOrderValue", "popularItemId", "tableOccupancyRate", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."AuditLog" (id, "branchId", "userId", "tableName", "recordId", action, "oldValues", "newValues", "createdAt") FROM stdin;
\.


--
-- Data for Name: Banner; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Banner" (id, "branchId", "imageUrl", "targetUrl", "order", "isActive", "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Bill; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Bill" (id, "orderId", "billNumber", subtotal, discount, "taxTotal", "serviceChargeTotal", "finalAmount", "isSettled", "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: BillItem; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."BillItem" (id, "billId", name, quantity, price, "totalPrice", "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Branch; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Branch" (id, "restaurantId", name, address, phone, email, "deletedAt", "createdAt", "updatedAt") FROM stdin;
2b1969a7-d186-4ba7-804e-f104271b2d7e	6f39075d-666b-4754-87b1-32f2b3f60667	Bikaji Main Branch	Paupat Road, Bikaner, Rajasthan	+91 98765 43210	main@bikaji.com	\N	2026-08-03 06:58:04.103	2026-08-03 06:58:04.103
\.


--
-- Data for Name: Cart; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Cart" (id, "sessionId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: CartItem; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."CartItem" (id, "cartId", "menuItemId", quantity, "specialNotes", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: CartItemAddon; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."CartItemAddon" ("cartItemId", "addonId", "createdAt") FROM stdin;
\.


--
-- Data for Name: CartItemModifier; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."CartItemModifier" ("cartItemId", "modifierId", "createdAt") FROM stdin;
\.


--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Coupon; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: CouponUsage; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."CouponUsage" (id, "couponId", "userId", "orderId", "createdAt") FROM stdin;
\.


--
-- Data for Name: CustomerSession; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."CustomerSession" (id, "tableId", token, "customerName", phone, "isActive", "expiresAt", "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Device; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Device" (id, "userId", token, platform, "isActive", "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: FavoriteItem; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."FavoriteItem" (id, "userId", "menuItemId", "createdAt") FROM stdin;
\.


--
-- Data for Name: Feedback; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Feedback" (id, "userId", "serviceRating", "foodRating", "cleanlinessRating", comment, "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Invoice; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Invoice" (id, "orderId", "invoiceNumber", "taxDetails", "pdfUrl", "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: KitchenQueue; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."KitchenQueue" (id, "branchId", name, "isActive", "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: KitchenTicket; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."KitchenTicket" (id, "orderId", "ticketNumber", "queueId", status, "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: MenuImage; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."MenuImage" (id, "menuItemId", url, "isPrimary", "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: MenuItem; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: MenuItemAddon; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."MenuItemAddon" ("menuItemId", "addonId", "createdAt") FROM stdin;
\.


--
-- Data for Name: MenuItemModifierGroup; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."MenuItemModifierGroup" ("menuItemId", "modifierGroupId", "createdAt") FROM stdin;
\.


--
-- Data for Name: Modifier; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Modifier" (id, "modifierGroupId", name, price, "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ModifierGroup; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."ModifierGroup" (id, name, description, "minSelect", "maxSelect", "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Notification" (id, "userId", role, title, body, type, "isRead", "isPinned", "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Offer; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Offer" (id, "branchId", title, description, "bannerImage", "discountPercent", "startDate", "endDate", "isActive", "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: OpeningHours; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."OpeningHours" (id, "branchId", "dayOfWeek", "openTime", "closeTime", "isClosed", "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: OrderItem; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: OrderItemAddon; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."OrderItemAddon" ("orderItemId", "addonId", name, price, "createdAt") FROM stdin;
\.


--
-- Data for Name: OrderItemModifier; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."OrderItemModifier" ("orderItemId", "modifierId", name, price, "createdAt") FROM stdin;
\.


--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Payment" (id, "orderId", amount, method, status, "transactionId", "gatewayResponse", "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Permission; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Permission" (id, action, description, "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: QRCode; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."QRCode" (id, "tableId", "codeUrl", "isActive", "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Restaurant; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Restaurant" (id, name, logo, description, "deletedAt", "createdAt", "updatedAt") FROM stdin;
6f39075d-666b-4754-87b1-32f2b3f60667	Bikaji Group	\N	Bikaji Premium Indian Dining and Catering	\N	2026-08-03 06:58:03.847	2026-08-03 06:58:03.847
\.


--
-- Data for Name: RestaurantSetting; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."RestaurantSetting" (id, "restaurantId", name, currency, "gstRate", "serviceChargeRate", "updatedAt") FROM stdin;
d8a599f0-d444-4489-a8ed-5af53e4b64ba	6f39075d-666b-4754-87b1-32f2b3f60667	Bikaji Premium Indian Dining	INR	5	5	2026-08-03 06:58:04.226
\.


--
-- Data for Name: RestaurantTable; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Review; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Review" (id, "branchId", "userId", "menuItemId", rating, comment, "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: RoleModel; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."RoleModel" (id, name, description, "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: RolePermission; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."RolePermission" ("roleId", "permissionId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ServiceRequest; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."ServiceRequest" (id, "tableId", type, status, notes, "deletedAt", "createdAt", "updatedAt") FROM stdin;
0f608be6-d075-4045-b884-2384991da646	e4da7f1e-f02c-4b2d-924c-676d5fd71e42	WAITER	RESOLVED	Spoon / Cutlery	\N	2026-08-03 10:05:52.871	2026-08-03 10:06:11.772
3ea39a0e-8592-464c-9af5-c4a13fd51b08	e4da7f1e-f02c-4b2d-924c-676d5fd71e42	WAITER	RESOLVED	Table Cleaning	\N	2026-08-03 10:10:18.993	2026-08-03 14:49:59.731
\.


--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: SubCategory; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Tax; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Tax" (id, "branchId", name, rate, "isActive", "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: UserRole; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."UserRole" ("userId", "roleId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Verification; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Verification" (id, identifier, value, "expiresAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Waiter; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Waiter" (id, "userId", "branchId", "employeeId", "isAvailable", "deletedAt", "createdAt", "updatedAt") FROM stdin;
969153bb-b060-44b8-ae97-52fd6c53cdf9	fe5f2b30-d3e9-4a60-ad69-5c0b78315ea0	2b1969a7-d186-4ba7-804e-f104271b2d7e	EMP-WAITER-01	t	\N	2026-08-03 06:58:05.532	2026-08-03 06:58:05.532
3f9bde7e-b95a-4ea3-a0a9-4d72ad691f04	c6c235f3-ae58-4267-b304-535349059b61	2b1969a7-d186-4ba7-804e-f104271b2d7e	WT-102	t	\N	2026-08-03 12:16:53.798	2026-08-03 12:16:53.798
\.


--
-- Data for Name: WaiterTable; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."WaiterTable" ("waiterId", "tableId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Name: Account Account_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_pkey" PRIMARY KEY (id);


--
-- Name: ActivityLog ActivityLog_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ActivityLog"
    ADD CONSTRAINT "ActivityLog_pkey" PRIMARY KEY (id);


--
-- Name: Addon Addon_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Addon"
    ADD CONSTRAINT "Addon_pkey" PRIMARY KEY (id);


--
-- Name: Admin Admin_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Admin"
    ADD CONSTRAINT "Admin_pkey" PRIMARY KEY (id);


--
-- Name: Analytics Analytics_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Analytics"
    ADD CONSTRAINT "Analytics_pkey" PRIMARY KEY (id);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: Banner Banner_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Banner"
    ADD CONSTRAINT "Banner_pkey" PRIMARY KEY (id);


--
-- Name: BillItem BillItem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BillItem"
    ADD CONSTRAINT "BillItem_pkey" PRIMARY KEY (id);


--
-- Name: Bill Bill_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Bill"
    ADD CONSTRAINT "Bill_pkey" PRIMARY KEY (id);


--
-- Name: Branch Branch_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Branch"
    ADD CONSTRAINT "Branch_pkey" PRIMARY KEY (id);


--
-- Name: CartItemAddon CartItemAddon_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CartItemAddon"
    ADD CONSTRAINT "CartItemAddon_pkey" PRIMARY KEY ("cartItemId", "addonId");


--
-- Name: CartItemModifier CartItemModifier_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CartItemModifier"
    ADD CONSTRAINT "CartItemModifier_pkey" PRIMARY KEY ("cartItemId", "modifierId");


--
-- Name: CartItem CartItem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CartItem"
    ADD CONSTRAINT "CartItem_pkey" PRIMARY KEY (id);


--
-- Name: Cart Cart_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Cart"
    ADD CONSTRAINT "Cart_pkey" PRIMARY KEY (id);


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: CouponUsage CouponUsage_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CouponUsage"
    ADD CONSTRAINT "CouponUsage_pkey" PRIMARY KEY (id);


--
-- Name: Coupon Coupon_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Coupon"
    ADD CONSTRAINT "Coupon_pkey" PRIMARY KEY (id);


--
-- Name: CustomerSession CustomerSession_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CustomerSession"
    ADD CONSTRAINT "CustomerSession_pkey" PRIMARY KEY (id);


--
-- Name: Device Device_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Device"
    ADD CONSTRAINT "Device_pkey" PRIMARY KEY (id);


--
-- Name: FavoriteItem FavoriteItem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."FavoriteItem"
    ADD CONSTRAINT "FavoriteItem_pkey" PRIMARY KEY (id);


--
-- Name: Feedback Feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Feedback"
    ADD CONSTRAINT "Feedback_pkey" PRIMARY KEY (id);


--
-- Name: Invoice Invoice_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_pkey" PRIMARY KEY (id);


--
-- Name: KitchenQueue KitchenQueue_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."KitchenQueue"
    ADD CONSTRAINT "KitchenQueue_pkey" PRIMARY KEY (id);


--
-- Name: KitchenTicket KitchenTicket_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."KitchenTicket"
    ADD CONSTRAINT "KitchenTicket_pkey" PRIMARY KEY (id);


--
-- Name: MenuImage MenuImage_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MenuImage"
    ADD CONSTRAINT "MenuImage_pkey" PRIMARY KEY (id);


--
-- Name: MenuItemAddon MenuItemAddon_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MenuItemAddon"
    ADD CONSTRAINT "MenuItemAddon_pkey" PRIMARY KEY ("menuItemId", "addonId");


--
-- Name: MenuItemModifierGroup MenuItemModifierGroup_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MenuItemModifierGroup"
    ADD CONSTRAINT "MenuItemModifierGroup_pkey" PRIMARY KEY ("menuItemId", "modifierGroupId");


--
-- Name: MenuItem MenuItem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MenuItem"
    ADD CONSTRAINT "MenuItem_pkey" PRIMARY KEY (id);


--
-- Name: ModifierGroup ModifierGroup_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ModifierGroup"
    ADD CONSTRAINT "ModifierGroup_pkey" PRIMARY KEY (id);


--
-- Name: Modifier Modifier_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Modifier"
    ADD CONSTRAINT "Modifier_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: Offer Offer_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Offer"
    ADD CONSTRAINT "Offer_pkey" PRIMARY KEY (id);


--
-- Name: OpeningHours OpeningHours_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OpeningHours"
    ADD CONSTRAINT "OpeningHours_pkey" PRIMARY KEY (id);


--
-- Name: OrderItemAddon OrderItemAddon_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OrderItemAddon"
    ADD CONSTRAINT "OrderItemAddon_pkey" PRIMARY KEY ("orderItemId", "addonId");


--
-- Name: OrderItemModifier OrderItemModifier_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OrderItemModifier"
    ADD CONSTRAINT "OrderItemModifier_pkey" PRIMARY KEY ("orderItemId", "modifierId");


--
-- Name: OrderItem OrderItem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_pkey" PRIMARY KEY (id);


--
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: Permission Permission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Permission"
    ADD CONSTRAINT "Permission_pkey" PRIMARY KEY (id);


--
-- Name: QRCode QRCode_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."QRCode"
    ADD CONSTRAINT "QRCode_pkey" PRIMARY KEY (id);


--
-- Name: RestaurantSetting RestaurantSetting_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RestaurantSetting"
    ADD CONSTRAINT "RestaurantSetting_pkey" PRIMARY KEY (id);


--
-- Name: RestaurantTable RestaurantTable_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RestaurantTable"
    ADD CONSTRAINT "RestaurantTable_pkey" PRIMARY KEY (id);


--
-- Name: Restaurant Restaurant_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Restaurant"
    ADD CONSTRAINT "Restaurant_pkey" PRIMARY KEY (id);


--
-- Name: Review Review_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_pkey" PRIMARY KEY (id);


--
-- Name: RoleModel RoleModel_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RoleModel"
    ADD CONSTRAINT "RoleModel_pkey" PRIMARY KEY (id);


--
-- Name: RolePermission RolePermission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RolePermission"
    ADD CONSTRAINT "RolePermission_pkey" PRIMARY KEY ("roleId", "permissionId");


--
-- Name: ServiceRequest ServiceRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ServiceRequest"
    ADD CONSTRAINT "ServiceRequest_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: SubCategory SubCategory_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SubCategory"
    ADD CONSTRAINT "SubCategory_pkey" PRIMARY KEY (id);


--
-- Name: Tax Tax_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Tax"
    ADD CONSTRAINT "Tax_pkey" PRIMARY KEY (id);


--
-- Name: UserRole UserRole_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_pkey" PRIMARY KEY ("userId", "roleId");


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Verification Verification_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Verification"
    ADD CONSTRAINT "Verification_pkey" PRIMARY KEY (id);


--
-- Name: WaiterTable WaiterTable_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."WaiterTable"
    ADD CONSTRAINT "WaiterTable_pkey" PRIMARY KEY ("waiterId", "tableId");


--
-- Name: Waiter Waiter_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Waiter"
    ADD CONSTRAINT "Waiter_pkey" PRIMARY KEY (id);


--
-- Name: Account_userId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Account_userId_idx" ON public."Account" USING btree ("userId");


--
-- Name: ActivityLog_action_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "ActivityLog_action_idx" ON public."ActivityLog" USING btree (action);


--
-- Name: ActivityLog_userId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "ActivityLog_userId_idx" ON public."ActivityLog" USING btree ("userId");


--
-- Name: Admin_branchId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Admin_branchId_idx" ON public."Admin" USING btree ("branchId");


--
-- Name: Admin_userId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Admin_userId_key" ON public."Admin" USING btree ("userId");


--
-- Name: Analytics_branchId_date_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Analytics_branchId_date_key" ON public."Analytics" USING btree ("branchId", date);


--
-- Name: Analytics_branchId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Analytics_branchId_idx" ON public."Analytics" USING btree ("branchId");


--
-- Name: AuditLog_tableName_recordId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "AuditLog_tableName_recordId_idx" ON public."AuditLog" USING btree ("tableName", "recordId");


--
-- Name: Banner_branchId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Banner_branchId_idx" ON public."Banner" USING btree ("branchId");


--
-- Name: BillItem_billId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "BillItem_billId_idx" ON public."BillItem" USING btree ("billId");


--
-- Name: Bill_billNumber_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Bill_billNumber_key" ON public."Bill" USING btree ("billNumber");


--
-- Name: Branch_restaurantId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Branch_restaurantId_idx" ON public."Branch" USING btree ("restaurantId");


--
-- Name: CartItem_cartId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "CartItem_cartId_idx" ON public."CartItem" USING btree ("cartId");


--
-- Name: Cart_sessionId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Cart_sessionId_key" ON public."Cart" USING btree ("sessionId");


--
-- Name: Category_branchId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Category_branchId_idx" ON public."Category" USING btree ("branchId");


--
-- Name: Category_branchId_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Category_branchId_name_key" ON public."Category" USING btree ("branchId", name);


--
-- Name: CouponUsage_couponId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "CouponUsage_couponId_idx" ON public."CouponUsage" USING btree ("couponId");


--
-- Name: Coupon_branchId_code_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Coupon_branchId_code_key" ON public."Coupon" USING btree ("branchId", code);


--
-- Name: Coupon_branchId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Coupon_branchId_idx" ON public."Coupon" USING btree ("branchId");


--
-- Name: CustomerSession_tableId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "CustomerSession_tableId_idx" ON public."CustomerSession" USING btree ("tableId");


--
-- Name: CustomerSession_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "CustomerSession_token_key" ON public."CustomerSession" USING btree (token);


--
-- Name: Device_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Device_token_key" ON public."Device" USING btree (token);


--
-- Name: Device_userId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Device_userId_idx" ON public."Device" USING btree ("userId");


--
-- Name: FavoriteItem_userId_menuItemId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "FavoriteItem_userId_menuItemId_key" ON public."FavoriteItem" USING btree ("userId", "menuItemId");


--
-- Name: Invoice_invoiceNumber_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Invoice_invoiceNumber_key" ON public."Invoice" USING btree ("invoiceNumber");


--
-- Name: Invoice_orderId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Invoice_orderId_key" ON public."Invoice" USING btree ("orderId");


--
-- Name: KitchenTicket_orderId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "KitchenTicket_orderId_idx" ON public."KitchenTicket" USING btree ("orderId");


--
-- Name: MenuImage_menuItemId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "MenuImage_menuItemId_idx" ON public."MenuImage" USING btree ("menuItemId");


--
-- Name: MenuItem_branchId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "MenuItem_branchId_idx" ON public."MenuItem" USING btree ("branchId");


--
-- Name: MenuItem_categoryId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "MenuItem_categoryId_idx" ON public."MenuItem" USING btree ("categoryId");


--
-- Name: Modifier_modifierGroupId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Modifier_modifierGroupId_idx" ON public."Modifier" USING btree ("modifierGroupId");


--
-- Name: Notification_userId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Notification_userId_idx" ON public."Notification" USING btree ("userId");


--
-- Name: Offer_branchId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Offer_branchId_idx" ON public."Offer" USING btree ("branchId");


--
-- Name: OpeningHours_branchId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "OpeningHours_branchId_idx" ON public."OpeningHours" USING btree ("branchId");


--
-- Name: OrderItem_orderId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "OrderItem_orderId_idx" ON public."OrderItem" USING btree ("orderId");


--
-- Name: Order_branchId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Order_branchId_idx" ON public."Order" USING btree ("branchId");


--
-- Name: Order_branchId_orderNumber_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Order_branchId_orderNumber_key" ON public."Order" USING btree ("branchId", "orderNumber");


--
-- Name: Order_customerId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Order_customerId_idx" ON public."Order" USING btree ("customerId");


--
-- Name: Order_tableId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Order_tableId_idx" ON public."Order" USING btree ("tableId");


--
-- Name: Payment_orderId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Payment_orderId_idx" ON public."Payment" USING btree ("orderId");


--
-- Name: Payment_transactionId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Payment_transactionId_key" ON public."Payment" USING btree ("transactionId");


--
-- Name: Permission_action_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Permission_action_key" ON public."Permission" USING btree (action);


--
-- Name: QRCode_tableId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "QRCode_tableId_key" ON public."QRCode" USING btree ("tableId");


--
-- Name: RestaurantTable_branchId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "RestaurantTable_branchId_idx" ON public."RestaurantTable" USING btree ("branchId");


--
-- Name: RestaurantTable_branchId_number_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "RestaurantTable_branchId_number_key" ON public."RestaurantTable" USING btree ("branchId", number);


--
-- Name: Review_menuItemId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Review_menuItemId_idx" ON public."Review" USING btree ("menuItemId");


--
-- Name: RoleModel_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "RoleModel_name_key" ON public."RoleModel" USING btree (name);


--
-- Name: ServiceRequest_tableId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "ServiceRequest_tableId_idx" ON public."ServiceRequest" USING btree ("tableId");


--
-- Name: Session_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Session_token_key" ON public."Session" USING btree (token);


--
-- Name: Session_userId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Session_userId_idx" ON public."Session" USING btree ("userId");


--
-- Name: SubCategory_categoryId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "SubCategory_categoryId_idx" ON public."SubCategory" USING btree ("categoryId");


--
-- Name: Tax_branchId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Tax_branchId_idx" ON public."Tax" USING btree ("branchId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Waiter_branchId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Waiter_branchId_idx" ON public."Waiter" USING btree ("branchId");


--
-- Name: Waiter_employeeId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Waiter_employeeId_key" ON public."Waiter" USING btree ("employeeId");


--
-- Name: Waiter_userId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Waiter_userId_key" ON public."Waiter" USING btree ("userId");


--
-- Name: Account Account_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ActivityLog ActivityLog_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ActivityLog"
    ADD CONSTRAINT "ActivityLog_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ActivityLog ActivityLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ActivityLog"
    ADD CONSTRAINT "ActivityLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Admin Admin_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Admin"
    ADD CONSTRAINT "Admin_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Admin Admin_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Admin"
    ADD CONSTRAINT "Admin_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Analytics Analytics_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Analytics"
    ADD CONSTRAINT "Analytics_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AuditLog AuditLog_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: AuditLog AuditLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Banner Banner_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Banner"
    ADD CONSTRAINT "Banner_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BillItem BillItem_billId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BillItem"
    ADD CONSTRAINT "BillItem_billId_fkey" FOREIGN KEY ("billId") REFERENCES public."Bill"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Bill Bill_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Bill"
    ADD CONSTRAINT "Bill_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Branch Branch_restaurantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Branch"
    ADD CONSTRAINT "Branch_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CartItemAddon CartItemAddon_addonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CartItemAddon"
    ADD CONSTRAINT "CartItemAddon_addonId_fkey" FOREIGN KEY ("addonId") REFERENCES public."Addon"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CartItemAddon CartItemAddon_cartItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CartItemAddon"
    ADD CONSTRAINT "CartItemAddon_cartItemId_fkey" FOREIGN KEY ("cartItemId") REFERENCES public."CartItem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CartItemModifier CartItemModifier_cartItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CartItemModifier"
    ADD CONSTRAINT "CartItemModifier_cartItemId_fkey" FOREIGN KEY ("cartItemId") REFERENCES public."CartItem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CartItemModifier CartItemModifier_modifierId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CartItemModifier"
    ADD CONSTRAINT "CartItemModifier_modifierId_fkey" FOREIGN KEY ("modifierId") REFERENCES public."Modifier"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CartItem CartItem_cartId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CartItem"
    ADD CONSTRAINT "CartItem_cartId_fkey" FOREIGN KEY ("cartId") REFERENCES public."Cart"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CartItem CartItem_menuItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CartItem"
    ADD CONSTRAINT "CartItem_menuItemId_fkey" FOREIGN KEY ("menuItemId") REFERENCES public."MenuItem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Cart Cart_sessionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Cart"
    ADD CONSTRAINT "Cart_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES public."CustomerSession"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Category Category_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CouponUsage CouponUsage_couponId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CouponUsage"
    ADD CONSTRAINT "CouponUsage_couponId_fkey" FOREIGN KEY ("couponId") REFERENCES public."Coupon"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CouponUsage CouponUsage_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CouponUsage"
    ADD CONSTRAINT "CouponUsage_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Coupon Coupon_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Coupon"
    ADD CONSTRAINT "Coupon_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CustomerSession CustomerSession_tableId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CustomerSession"
    ADD CONSTRAINT "CustomerSession_tableId_fkey" FOREIGN KEY ("tableId") REFERENCES public."RestaurantTable"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FavoriteItem FavoriteItem_menuItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."FavoriteItem"
    ADD CONSTRAINT "FavoriteItem_menuItemId_fkey" FOREIGN KEY ("menuItemId") REFERENCES public."MenuItem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FavoriteItem FavoriteItem_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."FavoriteItem"
    ADD CONSTRAINT "FavoriteItem_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Feedback Feedback_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Feedback"
    ADD CONSTRAINT "Feedback_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Invoice Invoice_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: KitchenTicket KitchenTicket_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."KitchenTicket"
    ADD CONSTRAINT "KitchenTicket_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: KitchenTicket KitchenTicket_queueId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."KitchenTicket"
    ADD CONSTRAINT "KitchenTicket_queueId_fkey" FOREIGN KEY ("queueId") REFERENCES public."KitchenQueue"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: MenuImage MenuImage_menuItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MenuImage"
    ADD CONSTRAINT "MenuImage_menuItemId_fkey" FOREIGN KEY ("menuItemId") REFERENCES public."MenuItem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: MenuItemAddon MenuItemAddon_addonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MenuItemAddon"
    ADD CONSTRAINT "MenuItemAddon_addonId_fkey" FOREIGN KEY ("addonId") REFERENCES public."Addon"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: MenuItemAddon MenuItemAddon_menuItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MenuItemAddon"
    ADD CONSTRAINT "MenuItemAddon_menuItemId_fkey" FOREIGN KEY ("menuItemId") REFERENCES public."MenuItem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: MenuItemModifierGroup MenuItemModifierGroup_menuItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MenuItemModifierGroup"
    ADD CONSTRAINT "MenuItemModifierGroup_menuItemId_fkey" FOREIGN KEY ("menuItemId") REFERENCES public."MenuItem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: MenuItemModifierGroup MenuItemModifierGroup_modifierGroupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MenuItemModifierGroup"
    ADD CONSTRAINT "MenuItemModifierGroup_modifierGroupId_fkey" FOREIGN KEY ("modifierGroupId") REFERENCES public."ModifierGroup"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: MenuItem MenuItem_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MenuItem"
    ADD CONSTRAINT "MenuItem_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: MenuItem MenuItem_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MenuItem"
    ADD CONSTRAINT "MenuItem_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: MenuItem MenuItem_subCategoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MenuItem"
    ADD CONSTRAINT "MenuItem_subCategoryId_fkey" FOREIGN KEY ("subCategoryId") REFERENCES public."SubCategory"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Modifier Modifier_modifierGroupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Modifier"
    ADD CONSTRAINT "Modifier_modifierGroupId_fkey" FOREIGN KEY ("modifierGroupId") REFERENCES public."ModifierGroup"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Offer Offer_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Offer"
    ADD CONSTRAINT "Offer_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OpeningHours OpeningHours_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OpeningHours"
    ADD CONSTRAINT "OpeningHours_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItemAddon OrderItemAddon_addonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OrderItemAddon"
    ADD CONSTRAINT "OrderItemAddon_addonId_fkey" FOREIGN KEY ("addonId") REFERENCES public."Addon"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItemAddon OrderItemAddon_orderItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OrderItemAddon"
    ADD CONSTRAINT "OrderItemAddon_orderItemId_fkey" FOREIGN KEY ("orderItemId") REFERENCES public."OrderItem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItemModifier OrderItemModifier_modifierId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OrderItemModifier"
    ADD CONSTRAINT "OrderItemModifier_modifierId_fkey" FOREIGN KEY ("modifierId") REFERENCES public."Modifier"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItemModifier OrderItemModifier_orderItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OrderItemModifier"
    ADD CONSTRAINT "OrderItemModifier_orderItemId_fkey" FOREIGN KEY ("orderItemId") REFERENCES public."OrderItem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItem OrderItem_menuItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_menuItemId_fkey" FOREIGN KEY ("menuItemId") REFERENCES public."MenuItem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItem OrderItem_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Order Order_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Order Order_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Order Order_sessionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES public."CustomerSession"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Order Order_tableId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_tableId_fkey" FOREIGN KEY ("tableId") REFERENCES public."RestaurantTable"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Payment Payment_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: QRCode QRCode_tableId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."QRCode"
    ADD CONSTRAINT "QRCode_tableId_fkey" FOREIGN KEY ("tableId") REFERENCES public."RestaurantTable"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RestaurantSetting RestaurantSetting_restaurantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RestaurantSetting"
    ADD CONSTRAINT "RestaurantSetting_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RestaurantTable RestaurantTable_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RestaurantTable"
    ADD CONSTRAINT "RestaurantTable_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Review Review_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Review Review_menuItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_menuItemId_fkey" FOREIGN KEY ("menuItemId") REFERENCES public."MenuItem"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Review Review_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: RolePermission RolePermission_permissionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RolePermission"
    ADD CONSTRAINT "RolePermission_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES public."Permission"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RolePermission RolePermission_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RolePermission"
    ADD CONSTRAINT "RolePermission_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public."RoleModel"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ServiceRequest ServiceRequest_tableId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ServiceRequest"
    ADD CONSTRAINT "ServiceRequest_tableId_fkey" FOREIGN KEY ("tableId") REFERENCES public."RestaurantTable"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Session Session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SubCategory SubCategory_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SubCategory"
    ADD CONSTRAINT "SubCategory_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Tax Tax_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Tax"
    ADD CONSTRAINT "Tax_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserRole UserRole_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public."RoleModel"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserRole UserRole_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: WaiterTable WaiterTable_tableId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."WaiterTable"
    ADD CONSTRAINT "WaiterTable_tableId_fkey" FOREIGN KEY ("tableId") REFERENCES public."RestaurantTable"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: WaiterTable WaiterTable_waiterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."WaiterTable"
    ADD CONSTRAINT "WaiterTable_waiterId_fkey" FOREIGN KEY ("waiterId") REFERENCES public."Waiter"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Waiter Waiter_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Waiter"
    ADD CONSTRAINT "Waiter_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public."Branch"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Waiter Waiter_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Waiter"
    ADD CONSTRAINT "Waiter_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict cITwp6LdXPii6EpOeLOSH7XlfxkZzFImCZhjOaOHAZyVR1M2GIYi7T1BJwYxq6H

